{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Car Workshop | Approve</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{% static "fonts/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static "style.css" %}">

		<!--[if lt IE 9]>
		<script src="{% static "js/ie-support/html5.js" %}"></script>
		<script src="{% static "js/ie-support/respond.js" %}"></script>
		<![endif]-->

	</head>


	<body>

		<div id="site-content">

			<header class="site-header">
				<div class="container">
					<a id="branding" href="{% url 'index' %}">
						<img src="{% static "images/logo.png" %}" alt="Company Logo" class="logo">
						<h1 class="site-title">RoaD<span>MeCH</span></h1>
					</a>

					<nav class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="{% url 'index' %}">Home</a></li>
							<li class="menu-item current-menu-item"><a href="{% url 'adapprove' %}">Approve</a></li>
							<li class="menu-item"><a href="{% url 'admessage' %}">Messages</a></li>
							<li class="menu-item"><a href="{% url 'adprofile' %}">Profile</a></li>
							<li class="menu-item"><a href="{% url 'logout' %}">Logout</a></li>
							<body>


							<h2>.</h2>



							<form class="example" action="{% url 'searchresults' %}" method="get" style="margin:auto;max-width:300px">
  							<input type="text" placeholder="Search.." name="q">
 							 <button type="submit"><i class="fa fa-search"></i></button>
							</form>

							</body>
						</ul>
					</nav>
					<nav class="mobile-navigation"></nav>
				</div>
			</header> <!-- .site-header -->

			<main class="main-content">

				<div class="fullwidth-block content">
					<div class="container">
						{% for user in mechs %}
						<div class="team image-left">
							<figure class="team-image"><img src="{% static "dummy/person-1.jpg" %}" alt="person-1"></figure>
							<h3 class="team-name">{{ user.fullname }}</h3>
							<small class="team-desc">{{ user.workshop }}</small>
							<p>Steven Simon is workings as a diagnostic technician for last 10 years. His inspection, maintenance, service and repairing vechicles over this years has made hundreds of happy customers.Now he is a part of RoaDMeCH too!</p>
							<div class="team-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
							</div>
							<div class="col-lg-9 ml-auto text-right">
								<a href="{% url 'approve' pk=getmechs_item.pk %}" class="btn btn-primary" value="Approve">k</a>
			<!--					<button onclick="href='approve/';" type="submit" class="btn btn-primary" value="Approve"></button> -->
							</div>
						</div>
						{% endfor %}
					</div>
				</div>

			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="subscribe-form">
						<form action="#">
							<input type="text" placeholder="Enter your email to subscribe...">
							<button type="submit"><img src="{% static "images/icon-envelope-white.png" %}" alt=""></button>
						</form>
					</div>
					<div class="social-links">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
					</div>
					<div class="copy">
						<p>Copyright 2014 Company name. Designed by Themeezy. All rights reserved.</p>
					</div>
				</div>
			</footer> <!-- .site-footer -->

		</div> <!-- #site-content -->



		<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
		<script src="{% static "js/plugins.js" %}"></script>
		<script src="{% static "js/app.js" %}"></script>

	</body>

</html>
