{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static "images/icons/favicon.ico" %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/animate/animate.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/css-hamburgers/hamburgers.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "vendor/select2/select2.min.css" %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static "images/img-01.png" %}" alt="IMG">
				</div>

				{% if form.non_field_errors %}
			    <div class="alert alert-danger alert-dismissible fade show" role="alert">
			      {% for error in form.non_field_errors %}
			        <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
			      {% endfor %}
			      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
			        <span aria-hidden="true">&times;</span>
			      </button>
			    </div>
			  {% endif %}

				<form class="login100-form validate-form">
					<span class="login100-form-title">
						Member Login
					</span>

					<div>
					<!--<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz"> -->
						<input class="input100" type="text" name="email" placeholder="Email">
						<span class="focus-input100"></span>
						{{ form.username|as_crispy_field }}
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div>
					<!--<div class="wrap-input100 validate-input" data-validate = "Password is required"> -->
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
						{{ form.password|as_crispy_field }}
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" name="" value="SignUp">Login</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>


				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/bootstrap/js/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/select2/select2.min.js" %}"></script>
<!--===============================================================================================-->
	<script src="{% static "vendor/tilt/tilt.jquery.min.js" %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static "js/main.js" %}"></script>

</body>
</html>
